body {
    background:linear-gradient(to right, #f67299,#772976);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 95%;
    max-width: 500px;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 2%;
} 

.Caixa{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5%;
    padding-top: 10%;
    max-width: 600px;
}

.Input1{
    align-items: center;
    display: flex;
    box-sizing: border-box;
    background-color: #fdcbe6;
    margin: 3%;
    padding: 3%;
    width: 90%;
    border-radius: 50px;
}

.Input1 input:focus-visible {
    outline: none;
    background-color: transparent;
}

.Input1 input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.Input1 i{
    color: #fff;
    padding: 0px 10px 0px 0px;
}

.Input2{
    display: flex;
    box-sizing: border-box;
    border: none;
    background-color: #fdcbe6;
    margin: 3%;
    padding: 3%;
    width: 90%;
    border-radius: 50px;
}

.Input2 input:focus-visible {
    outline: none;
}

.Input2 input{
    border: none;
    background-color: transparent;
    width: 100%;
}

.Input2 i{
    color: #fff;
    padding: 10px 5px 0px 0px;
}

.Text1{
    margin: 0% 0% 3% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Text1 :hover{
    cursor: pointer;
}

.Login button{
    background-color: #b3097b;
    border-radius: 50px;
    color: #FFF;
    max-width: 700px;
    margin: 3%;
    padding: 3%;
    width: 90%;
}

.Login p{
    color: #000;
    text-align: center;
    margin: 0;
}

.Login :hover{
    cursor: pointer;
}

.Text2{
    display: flex;
    flex-direction: row;
    margin: 10% 0% 5% 0%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 333px) { /* Maior ou igual a 333 pixels*/
    body {
        align-items: normal;
    }

    img {
        max-width: 300px;
        align-self: center;
        margin-top: 0%;
        margin-left: 0%;
    } 

    .Caixa{
        margin-top: 2%;
        width: 95%;
        max-width: 400px;
        padding-top: 3%;
        align-self: center;
    }
}

@media (max-width: 333px) { /* Menor ou igual a 333 pixels*/
    .Text1{
        flex-direction: column;
        align-self: center;
        align-items: center;
    }
}