.Middle *{
    padding: 4px;
    margin: 4px;
}

.Middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 80px;
    width: 100%;
    max-width: 600px;
    align-self: center;
}

.Middle input{
    background-color: #ececec;
}

.Middle button{
    margin-top: 50px;
    background-color: #39b448;
    align-self: center;
    border-radius: 30px;
    width: 30%;
    align-self: flex-end;
    margin-right: 20px;
}
